<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>PHP-19. Task 4.3</title>
    <style>
        table {
            border-spacing: 0;
            border-collapse: collapse;
            margin-top: 10px;
        }

        table td, table th {
            border: 1px solid #ccc;
            padding: 5px;
        }

        table th {
            background: #eee;
        }
    </style>
</head>
<body>
<h1>Список дел на сегодня</h1>
<div style="float: left">
    <form method="POST">
        <input type="text" name="description" placeholder="Описание задачи" value="{{ description }}"/>
        <input type="submit" name="save"
               value="{{ currentAction }}"/>
    </form>
</div>
<div style="float: left; margin-left: 20px;">
    <form method="POST">
        <label for="sort">Сортировать по:</label>
        <select name="sort_by">
            <option {{ selectOrder['date_added'] }}value="date_added">Дате добавления</option>
            <option {{ selectOrder['is_done'] }}value="is_done">Статусу</option>
            <option {{ selectOrder['description'] }}value="description">Описанию</option>
        </select>
        <input type="submit" name="sort" value="Отсортировать"/>
    </form>
</div>
<div style="clear: both"></div>

<table>
    <tr>
        <th>Описание задачи</th>
        <th>Дата добавления</th>
        <th>Статус</th>
        <th></th>
        <th>Ответственный</th>
        <th>Автор</th>
        <th>Закрепить задачу за пользователем</th>
    </tr>
    <?php

    {% for row in userTask %}
    <tr>
    <td>{{ row['description'] }}</td>
    <td>{{ row['date_added'] }}</td>
    <td>
        {% if row['is_done'] %}
            <span style='color: green;'>Выполнено</span>
        {% else %}
            <span style='color: orange;'>В процессе</span>
        {% endif %}
    </td>
    <td>
        <a href="{{ "?id=$id&action=edit"|replace({'$id': row['id']}) }}">Изменить</a>
        <a href="{{ "?id=$id&action=done"|replace({'$id': row['id']}) }}">{{ row['is_done'] ? 'Возобновить' : 'Выполнить' }}</a>
        {% if row['assigned_user_id'] == NULL or row['assigned_user_id'] == currentUser['id'] %}
            <a href="{{ "?id=$id&action=delete"|replace({'$id': row['id']}) }}">Удалить</a>
        {% endif %}
    </td>
    <td>{{ row['responsible'] }}</td>
    <td>{{ row['author'] }}</td>
    <td>
        <form method='POST'>
            <select name='assigned_user_id'>
                {% for user in users %}
                    <option value='{{ "user_$userId_task_taskId"|replace({'$userId': user['id'], '$taskId': row['id']}) }}'>{{ user['login'] }}</option>
                {% endfor %}
            </select>
            <input type='submit' name='assign' value='Переложить ответственность'/>
        </form>
    </td>
    </tr>
    {% endfor %}
</table>
<p><strong>Также, посмотрите, что от Вас требуют другие люди:</strong></p>
<table>
    <tr>
        <th>Описание задачи</th>
        <th>Дата добавления</th>

        <th>Статус</th>
        <th></th>
        <th>Ответственный</th>
        <th>Автор</th>
    </tr>
    <?php

    {% for row in userAssigned %}
    <tr>
    <td>{{ row['description'] }}</td>
    <td>{{ row['date_added'] }}</td>
    <td>
        {% if row['is_done'] %}
            <span style='color: green;'>Выполнено</span>
        {% else %}
            <span style='color: orange;'>В процессе</span>
        {% endif %}
    </td>
    <td>
        <a href="{{ "?id=$id&action=edit"|replace({'$id': row['id']}) }}">Изменить</a>
        <a href="{{ "?id=$id&action=done"|replace({'$id': row['id']}) }}">{{ row['is_done'] ? 'Возобновить' : 'Выполнить' }}</a>
        <a href="{{ "?id=$id&action=delete"|replace({'$id': row['id']}) }}">Удалить</a>
    </td>
    <td>{{ row['responsible'] }}</td>
    <td>{{ row['author'] }}</td>
    </tr>
    {% endfor %}
</table>
<p><a href="logout.php">Выход</a></p>
</body>
</html>