<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>PHP-19. Task 5.2</title>
</head>
<body>
<p>{{ message }}</p>
<form method="POST">
    <input type="text" name="login" placeholder="Логин" value="{{ user['login'] }}"/>
    <input type="password" name="password" placeholder="Пароль"/>
    <input type="submit" name="sign_in" value="Вход"/>
    <input type="submit" name="register" value="Регистрация"/>
</form>